{% extends "app/base.html" %}

{% load static %}

{% load bootstrap_pagination %}

{% block custom-css %}
<link rel="stylesheet" href="{% static 'app/content/star-rating.css' %}" />
{% endblock %}

{% block custom-js %}
<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
<script src="{% static 'app/scripts/star-rating.js' %}" type="text/javascript"></script>
<script src="{% static 'app/scripts/quote.js' %}" type="text/javascript"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
{% endblock %}

{% block content %}

<div class="container text">
    <div class="container text-center">
        <form action="/all_quotes">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="search" value="{{ request.GET.search }}">
                    <span class="input-group-btn">
                        <input class="btn btn-default" type="submit" value="Search">
                    </span>
                </div>
            </div>
            <div class="text-left">
                <label for="search-options-group">Search Options:</label>
                <div class="form-group" id="search-options-group">
                    <label class="checkbox-inline"><input type="checkbox" name="searchAuthor" value="true" {% if request.GET.searchAuthor %}checked="checked"{% endif %}>Search by author</label>
                    <label class="checkbox-inline"><input type="checkbox" name="searchText" value="true" {% if request.GET.searchText %}checked="checked"{% endif %}>Search by quote text</label>
                </div>
                <div class="form-group">
                    <label for="sort-select">Sort results by:</label>
                    <select class="form-control" id="sort-select" name="sort">
                        <option value="ratingDescend" {% if request.GET.sort == 'ratingDescend' %}selected="selected"{% endif %}>Best Rating</option>
                        <option value="ratingAscend" {% if request.GET.sort == 'ratingAscend' %}selected="selected"{% endif %}>Worst Rating</option>
                        <option value="numRatingsDescend" {% if request.GET.sort == 'numRatingsDescend' %}selected="selected"{% endif %}>Most Ratings</option>
                        <option value="numRatingsAscend" {% if request.GET.sort == 'numRatingsAscend' %}selected="selected"{% endif %}>Least Ratings</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <hr />
    {% for quote in quotes %}
    {% include 'app/quote.html' with quote=quote %}
    {% endfor %}

    <div class="text-center">
        {% bootstrap_paginate quotes range=10 %}
    </div>

</div>
{% endblock %}