<!--Including js and css in the body for now-->
{% load static %}
<link rel="stylesheet" href="{% static 'app/content/star-rating.css' %}" />
<script src="{% static 'app/scripts/star-rating.js' %}" type="text/javascript"></script>

<div class="well container">
    <blockquote class="blockquote text-center">
        <h1 class="quote">"{{ quote.quote }}"</h1>
		<footer class="quote-footer">{{ quote.attribution }}</footer>
	</blockquote>
    <div class="text-center">
        <input class="rating" data-display-only="true" value="{{quote.rating}}"/>
    </div>
    <footer class="footer">
        <div class="col-md-6">
            <a href="/{{ quote.pk }}">Permalink</a>
        </div>
        <div class="col-md-6">
            <a class="pull-right" href="#">Rate</a>
        </div>
    </footer>
</div>