{% extends "app/base.html" %}

{% load static %}

{% block custom-css %}
<link rel="stylesheet" href="{% static 'app/content/quotebook.css' %}">
{% endblock %}

{% block custom-js %}
<script src="{% static 'app/scripts/quotebook.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
        <div class="jumbotron">
	        <blockquote class="blockquote text-center">
		        <h1 class="quote">"{{ quote }}"</h1>
		        <footer class="quote-footer">{{ attribution }}</footer>
	        </blockquote>
        </div>
</div>
<div class="text-center">
        <button class="btn btn-primary btn-large" id="reload-button">Get another quote</button>
</div>
{% endblock %}