{% extends "app/base.html" %}

{% load static %}

{% block custom-css %}
<link rel="stylesheet" href="{% static 'app/content/star-rating.css' %}" />
{% endblock %}

{% block custom-js %}
<script src="{% static 'app/scripts/star-rating.js' %}" type="text/javascript"></script>
<script src="{% static 'app/scripts/quote.js' %}" type="text/javascript"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>I only have one free domain, so everything I make goes here. </br> Fun stuff below:</h1>
</div>
<div class="container">
    <p>Replace with future content</p>
</div>
{% endblock %}