{% extends 'app/base.html' %}

{% load static %}

{% block custom-js %}
<script src={% static 'app/scripts/misc/idea-gen.js' %} type=text/javascript></script>
{% endblock %}

{% block content %}
<div class="container align-center">
    <div class="jumbotron">
        <h1 class="text-center">Imagine a</h1>
        <h1 class="text-center"><u id="idea-noun">fish</u></h1>
        <h1 class="text-center">that</h1>
        <h1 class="text-center"><u id="idea-action">turns lead into gold</u></h1>
    </div>
    <button class="btn btn-primary btn-lg center-block" id="gen-button" onclick="generate_idea()">Generate a new idea</button>
</div>
{% endblock %}